{% extends 'extend.html' %}
{% block body %}

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light"><b>It's me rohit.</b></h2>
        <p class="font-italic text-muted mb-4">I started programming for having fun in 2018. I start enjoying, I put myself under the gun to learn things faster. In this Journey I made games, desktop application, automate task with python and I learnt different pattern of development. Now I'm self taught programmer with passion. I'm really passionate about hacking and I love to do programmer.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>

{% endblock body %}